{% load static %}
<style>
.navbar-logo img {
    height: auto; /* Maintain aspect ratio */
    max-height: 70px; /* Set maximum height */
    width: auto; /* Allow width to scale with height */
    margin: 0 auto; /* Center the logo horizontally */
}
</style>

<header>
    <div class="header-inner z-3 position-relative">
      <div class="header-top bg-green white">
        <div class="container">
          <!-- <div class="header-top-inner  py-2"> -->
            <!-- <div class="row align-items-center"> -->
              <!-- <div class="col-lg-6"> -->
                <!-- <div class="header-top-info"> -->
                  <!-- <ul class="m-0 p-0">
                    <li class="pe-3 border-end  d-inline">
                      <i class="fa fa-phone pe-1"></i>
                      +33 877 554 332
                    </li>
                    <li class=" px-3 border-end d-inline">
                      <i class="fa fa-envelope-o pe-1"></i>
                      info@website.com
                    </li>
                    <li class=" px-3 d-inline ">
                      <i class="fa fa-clock-o pe-1"></i>
                      Mon - Fri: 9:00 - 18:30
                    </li>
                  </ul> -->
                <!-- </div> -->
              <!-- </div> -->
              <!-- <div class="col-lg-6">
                <div class="social-links text-end">
                  <ul class="m-0 p-0 d-flex list-unstyled justify-content-end">
                    <li class="me-1">
                      <a href="#">
                        <i class="fa fa-facebook text-center bg-grey darkgreen"></i>
                      </a>
                    </li>
                    <li class="me-1">
                      <a href="#">
                        <i class="fa fa-twitter text-center bg-grey darkgreen"></i>
                      </a>
                    </li>
                    <li class="me-1">
                      <a href="#">
                        <i class="fa fa-linkedin text-center bg-grey darkgreen"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-google text-center bg-grey darkgreen"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="header-nav-menu" id="header-nav-menu">
        <div class="container">
          <div class="header-nav-menu-inner py-2">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-3 col-md-5 col-5">
                <div class="navbar-logo m-0">
                  <a href="{% url 'home' %}"><img src="{% static 'images/logo/adac.logo.png' %}" alt="Logo" width="50%"></a>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="navbar-collapse ms-8" id="bs-example-navbar-collapse-1">
                  <ul class="navbar-nav align-items-center justify-content-center flex-row" id="responsive-menu">
                    <li class="nav-item ">
                      <a class="nav-link px-3 py-0 white text-uppercase" aria-current="page" href="{% url 'home' %}">ANA SƏHİFƏ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link px-3 py-0 white text-uppercase" href="{% url 'about' %}">HAQQIMIZDA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link px-3 py-0 white text-uppercase" href="{% url 'events' %}">TƏDBİRLƏR</a>
                    </li>
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle px-3 py-0 white text-uppercase my-4" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        TƏLİMLƏR
                      </a>
                      <ul class="dropdown-menu bg-lightgrey p-0 rounded-1">
                        <li><a class="dropdown-item py-2 px-7 text-capitalize black border-0 rounded-top-1 border-bottom border-1 border-grey grey"
                          href="{% url 'articles' %}">Məqalələr</a></li>
                        <li><a class="dropdown-item py-2 px-7 text-capitalize black border-0 rounded-bottom-1 grey"
                            href="{% url 'video-materials' %}">Video Materiallar</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link px-3 py-0 white text-uppercasen" href="{% url 'vacancies' %}">VAKANSİYALAR</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="navbar-button text-end">
                  <a class="btn" href="{% url 'join_us' %}">İCMAMIZA QOŞUL</a>
                </div>
              </div>
              <div id="slicknav-mobile"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>