{% load static %}

<!-- Populer Question Section Start -->
<section class="populer-question py-10">
    <div class="container">
      <div class="populer-question-inner">
        <div class="row align-items-center gx-lg-5 gy-5 gy-lg-0">
          <div class="col-lg-6">
            <div class="populer-question-info text-lg-start text-center">
              <h5 class="mb-2 "><i class="fa fa-handshake-o pe-2" aria-hidden="true"></i> Popular Questions</h5>
              <h2 class=" mb-2">Ecologically acceptable sustainable <span class="green">development plan</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>  
          </div>
          <div class="col-lg-6">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item border-bottom border-2 border-white">
                  <h2 class="accordion-header">
                      <button class="accordion-button p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                          We are a global family that values diversity.
                      </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body p-6 grey">Phasellus quis diam sed ligula sagittis tempus malesuada sed eros. Quisque elementum, diam et pellentesque volutpat, ligula diam suscipit ligula, sit amet hendrerit arcu ipsum eu nulla. Morbi sed molestie nulla, ac viverra turpis.</div>
                  </div>
              </div>
              <div class="accordion-item border-bottom border-2 border-white">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    We own and shape our future.
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body p-6 grey">Phasellus quis diam sed ligula sagittis tempus malesuada sed eros. Quisque elementum, diam et pellentesque volutpat, ligula diam suscipit ligula, sit amet hendrerit arcu ipsum eu nulla. Morbi sed molestie nulla, ac viverra turpis.</div>
                </div>
              </div>
              <div class="accordion-item border-bottom border-2 border-white">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Sed eget justo eget urna placerat dapibus non magna?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body p-6 grey">Phasellus quis diam sed ligula sagittis tempus malesuada sed eros. Quisque elementum, diam et pellentesque volutpat, ligula diam suscipit ligula, sit amet hendrerit arcu ipsum eu nulla. Morbi sed molestie nulla, ac viverra turpis.</div>
                </div>
              </div>
              <div class="accordion-item border-bottom border-2 border-white">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Proin neque metus, pellentesque vitae cursus quis?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body p-6 grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum, arcu a accumsan vulputate, leo diam sodales mi, et bibendum mi nunc at lorem. Etiam ut nisi hendrerit, iaculis metus at, accumsan purus. Vestibulum facilisis iaculis mauris ac pulvinar.</div>
                </div>
              </div>
              <div class="accordion-item border-bottom border-2 border-white">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    We create sustainable growth.
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body p-6 grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum, arcu a accumsan vulputate, leo diam sodales mi, et bibendum mi nunc at lorem. Etiam ut nisi hendrerit, iaculis metus at, accumsan purus. Vestibulum facilisis iaculis mauris ac pulvinar.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Populer Question Section End -->
  