{% load static %}

<!-- Populer Question Section Start -->
<section class="populer-question py-10">
    <div class="container">
      <div class="populer-question-inner">
        <div class="row align-items-center gx-lg-5 gy-5 gy-lg-0">
          <div class="col-lg-6">
            <div class="populer-question-info text-lg-start text-center">
              <h2 class=" mb-2">Azərbaycan Data və Süni İntellekt <span class="green">İcması</span></h2>
              <p>Misiyamız, müxtəlif sektorlarda data elmi və süni intellektin inkişafını təşviq etməkdir. İstər təcrübəli bir mütəxəssis, istərsə də yeni başlayan biri olsanız, icmamızda sizin üçün yer var. Birlikdə, Azərbaycanın data və süni intellekt sahəsindəki inkişafına töhvə verək.</p>
            </div>  
          </div>
          <div class="col-lg-6">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item border-bottom border-2 border-white">
                  <h2 class="accordion-header">
                      <button class="accordion-button p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                        İcma qurulması, İştirak və Qiymətləndirmə
                      </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body p-6 grey"> 
                        <ul>
                          <li>İcmanın qurulması və Üzv Qəbulu</li>
                          <li>İdarəedici üzvlərin təyin edilməsi və Təşkilati işlər qruplarının Təşkili</li>
                          <li>Aylıq Görüşlər: Daimi Təlimlər, Panellər və Şəbəkələşmə Tədbirləri</li>
                          <li>Real Dünya Məlumat Problemlərini Həll Etmək Üçün Datathon Təşkil Etmək</li>
                          <li>Rüblük İcmal: İrəliləyişin Qiymətləndirilməsi və Strategiyanın Dəyişdirilməsi</li>
                        </ul>
                  </div>
              </div>
              <div class="accordion-item border-bottom border-2 border-white">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Məzmun Yaradılması, Maarifləndirmə və Təhsil
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body p-6 grey">
                    <ul>
                      <li>Məqalələr, Videolar və Tədqiqat İşlərinin hazırlnmasına dəstək</li>
                      <li>Paytaxtda və regionlarda orta məktəblərin son sinif şagirdləri ilə görüşərək onlara Data və Sİ sahəsi ilə bağlı məlumatlandırma edib, ixtisas seçimində dəstək olmaq</li>
                      <li>Pulsuz Təlimlərin təşkil edilməsi</li>
                      <li>Təcrübə Proqramlarının təşkil edilməsi</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-bottom border-2 border-white">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed p-4 bg-grey h6 mb-0 text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Sponsorluq və Tərəfdaşlıq İnkişafı
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body p-6 grey">
                    <li>Sponsorları və Tərəfdaşları Müəyyənləşdirmək, və Cəlb Etmək</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Populer Question Section End -->
  