{% load static %}

<div class="col-lg-4">
    <div class="career-list-right">
      <div class="applying-info p-6 rounded-1 bg-grey border-bottom border-4 border-green mb-6">
        <div class="applying-info-title mb-4 text-center">
          <h4>Sizin üçün tövsiyələrimiz:</h4>
        </div>
        <div class="seperator w-20 border-bottom border-2 border-green mb-4 m-auto"></div>
        <div class="info-list">
          <ul class="m-0 p-0 list-unstyled">
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey"><b>Fərqli olun:</b> Şəxsi təcrübə və fərdi bacarıqlarınızla rəqiblərdən necə fərqləndiyinizi göstərməkdən çəkinməyin.</a></li>
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey"><b>Ünsiyyət bacarıqlarınızı nümayiş etdirin:</b> Müsahibədə aydın və təsirli ünsiyyət qurma qabiliyyətinizi vurğulayın.</a></li>
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey"><b>Uyğunluq dərəcənizi qiymətləndirin:</b> Vakansiyanın tələblərinə uyğun təcrübə və bacarıqlarınızı ön planda tutun.</a></li>
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey"><b>Araşdırma aparın:</b> Müraciət etməzdən əvvəl şirkət haqqında məlumat toplayın.</a></li>
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey"><b>Düzgün əlaqə məlumatları:</b> CV-nizdə və müraciət formasında əlaqə məlumatlarınızın düzgün olduğundan əmin olun.</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>