{% load static %}

<div class="col-lg-4">
    <div class="career-list-right">
      <div class="applying-info p-6 rounded-1 bg-grey border-bottom border-4 border-green mb-6">
        <div class="applying-info-title mb-4 text-center">
          <h4>Necə müraciət edim?</h4>
        </div>
        <div class="seperator w-20 border-bottom border-2 border-green mb-4 m-auto"></div>
        <div class="info-list">
          <ul class="m-0 p-0 list-unstyled">
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey">Deserunt mollit anim id est</a></li>
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey">Sunt in culpa qui officia</a></li>
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey">sunt in culpa qui officia</a></li>
            <li class="mb-3 pb-2 border-dashed-bottom-1 border-dark"><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey">Voluptate velit esse dolore</a></li>
            <li><i class="fa fa-check pe-2" aria-hidden="true"></i><a href="" class="grey">Inostrud exercitation ullamco</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>