{% load static %}
<section class="partner pt-4 pb-10">
    <div class="container">
      <div class="partner-inner text-center">
        <div class="partner-info mb-6 w-lg-50 m-auto">
          <h2 class="mb-1">Tərəfdaşlarımız</h2>
          <p class="mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum.</p>
        </div>
        <div class="slider partner-slide" style="overflow: hidden;">
          <div class="box1 d-flex justify-content-center">
            <img src="{% static 'images/logo/matrix-logo.png' %}" alt="partner-img">
          </div>
          <div class="box1 d-flex justify-content-center">
            <img src="{% static 'images/logo/abb-tech-logo.png' %}" alt="partner-img">
          </div>
          <div class="box1 d-flex justify-content-center">
            <img src="{% static 'images/logo/innoland-logo.png' %}" alt="partner-img">
          </div>
          <div class="box1 d-flex justify-content-center">
            <img src="{% static 'images/logo/septem-logo.png' %}" alt="partner-img">
          </div>
          <div class="box1 d-flex justify-content-center">
            <img src="{% static 'images/logo/simic-logo.png' %}" alt="partner-img">
          </div>
        </div>
      </div>
    </div>
  </section>