{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
{% include 'includes/header.html' %}
<body>
<!-- Header Section Start -->
{% include 'includes/navbar.html' %}
<!-- Header Section End -->

<!-- Banner Section Start -->
<section class="banner page-breadcrumb position-relative py-11">
  <div class="overlay opacity-75"></div>
  <div class="container position-relative">
    <div class="page-title white text-center mt-8">
      <h2 class="white mb-2">Haqqımızda</h2>
      <p class="m-0"><a href="{% url 'home' %}">Ana Səhifə</a> > <a href="{% url 'about' %}">Haqqımızda</a></p>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- About Us Section Start --> 
<br> 
{% include 'sections/about-us.html' %}

<!-- About Us Section End -->
 
{% include 'sections/goals.html' %}

<!--  Team Section Start -->
{% include 'sections/team.html' %}
<!--  Team Section End -->

<!-- Partner Section Start -->
 {% include 'sections/partners.html' %}
<!-- Partner Section End -->

<!-- Footer Section Start -->
{% include 'includes/footer.html' %}
<!-- Footer Section End -->

<!--Bacl-to-top Button start-->
{% include 'includes/back_to_top.html' %}
<!--Bacl-to-top Button end-->

{% include 'includes/scripts.html' %}
</body>
</html>