{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

{% include 'includes/header.html' %}

<body>
{% include 'includes/navbar.html' %}

<!-- Banner Section Start -->
<section class="banner page-breadcrumb position-relative py-11">
  <div class="overlay opacity-75"></div>
  <div class="container position-relative">
    <div class="page-title white text-center mt-8">
      <h2 class="white mb-2">Vakansiya Haqqında</h2>
      <p class="m-0"><a href="{% url 'home' %}">Ana Səhifə</a> > <a href="{% url 'vacancy_detail' vacancy.id%}">Vakansiya Haqqında</a></p>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Career Detail Section Start -->
<section class="career-detail py-11">
  <div class="container">
    <div class="career-detail-inner">
      <div class="row gx-lg-5 gy-5 gy-lg-0">
        <div class="col-lg-8">
          <div class="career-detail-left">
            <div class="career-detail-image mb-4">
              <img src="{{ vacancy.image.url }}" alt="career-detail" class="w-100 rounded">
            </div>
            <div class="job-info-list mb-6">
              <div class="row gx-md-5 gy-3 gy-md-0">
                <div class="col-lg-6 col-md-6">
                  <div class="job-info-box  rounded-1 border border-1 border-grey mb-2">
                    <a href="#" class="d-flex align-items-center py-3 px-4">
                      <div class="job-info-icon h3 ">
                        <i class="fa fa-user-o grey me-3 pe-3 border-end border-1 border-dark" aria-hidden="true"></i>
                      </div>
                      <div class="job-title">
                        <h5 class="green">{{vacancy.position}}</h5>
                        <p class="grey m-0">Vəzifə</p>
                      </div>
                    </a>
                  </div>
                  <div class="job-info-box  rounded-1 border border-1 border-grey">
                    <a href="#" class="d-flex align-items-center py-3 px-4">
                      <div class="job-info-icon h3 ">
                        <i class="fa fa-money grey me-3 pe-3 border-end border-1 border-dark" aria-hidden="true"></i>
                      </div>
                      <div class="job-title">
                        <h5 class="green">Razılaşma ilə</h5>
                        <p class="grey m-0">Maaş</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="job-info-box  rounded-1 border border-1 border-grey mb-2">
                    <a href="#" class="d-flex align-items-center py-3 px-4">
                      <div class="job-info-icon h3 ">
                        <i class="fa fa-clock-o grey me-3 pe-3 border-end border-1 border-dark" aria-hidden="true"></i>
                      </div>
                      <div class="job-title">
                        <h5 class="green">{{vacancy.type}}</h5>
                        <p class="grey m-0">Vakansiya növü</p>
                      </div>
                    </a>
                  </div>
                  <div class="job-info-box rounded-1 border border-1 border-grey">
                    <a href="#" class="d-flex align-items-center  py-3 px-4">
                      <div class="job-info-icon h3 ">
                        <i class="fa fa-calendar-o grey me-3 pe-3 border-end border-1 border-dark" aria-hidden="true"></i>
                      </div>
                      <div class="job-title">
                        <h5 class="green">{{vacancy.id}}</h5>
                        <p class="grey m-0">Vakansiya kodu</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="job-overview mb-4">
              <h4 class="pb-3">Vakansiya Haqqında</h4>
              <div class="seperator w-10 border-bottom border-2 border-green mb-3"></div>
              <p>{{vacancy.description|safe}}<p>
            </div>
            
          </div>
        </div>
        {% include 'sections/how_to_apply.html' %}
      </div>
    </div>
  </div>
</section>
<!-- Career Detail Section End -->

{% include 'includes/footer.html' %}

<!--Bacl-to-top Button start-->
{% include 'includes/back_to_top.html' %}
<!--Bacl-to-top Button end-->
{% include 'includes/scripts.html' %}
</body>
</html>