{% load static %}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
  {% include 'includes/header.html' %}

<body>
  {% include 'includes/navbar.html' %}

<!-- Banner Section Start -->
<section class="banner page-breadcrumb position-relative py-11">
  <div class="overlay opacity-75"></div>
  <div class="container position-relative">
    <div class="page-title white text-center mt-8">
      <h2 class="white mb-2">Vakansiyalar</h2>
      <p class="m-0"><a href="{% url 'home' %}">Ana Səhifə</a> > <a href="{% url 'vacancies' %}">Vakansiyalar</a></p>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Career List Section Start -->
<section class="career-list py-11">
  <div class="container">
    <div class="career-list-inner">
      <div class="row gx-lg-5 gy-4 gy-lg-0">
        <div class="col-lg-8">
          <div class="career-list-left text-center text-md-start">
            {% for vacancy in vacancies %}
              <div class="career-list-box p-4 border border-3 border-grey rounded-1 mb-4">
                <div class="row gy-4 gy-md-0 align-items-center">
                  <div class="col-lg-1 col-md-2">
                    <div class="list-serial-no">
                      <h4 class="white bg-darkgrey  p-2 rounded text-center">{{vacancy.id}}</h4>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-7">
                    <div class="job-info">
                      <ul class="m-0 mb-2 p-0 list-unstyled d-flex justify-content-center justify-content-lg-start">
                        <li class="green pe-2 me-2 border-end border-1 border-dark">{{vacancy.type}}</li>
                        <li class="green">{{vacancy.position}}</li>
                      </ul>
                      <div class="job-title-description">
                        <h5 class="mb-2">{{vacancy.title}}</h5>
                        <p class="mb-0">{{vacancy.description|safe|truncatewords:20}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="apply-button text-center">
                      <a href="{% url 'vacancy_detail' vacancy.id %}" class="btn btn-green">Ətraflı</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
        {% include 'sections/how_to_apply.html' %}
      </div>
    </div>
  </div>
</section>
<!-- Career List Section End -->
{% include 'includes/footer.html' %}
<!-- Footer Section End -->

<!--Bacl-to-top Button start-->
{% include 'includes/back_to_top.html' %}
<!--Bacl-to-top Button end-->

{% include 'includes/scripts.html' %}
</body>
</html>